body{
    font-size: 20px;
    color:rgb(23, 34, 53);
    font-family:sans-serif;
    margin: 20px;
    word-wrap: normal;
}
header{
    position: fixed;
    background:rgb(250, 230, 230);
    display: inline-block;
    width: 100%;
    margin: -20px;
    padding-bottom: 10px;
    padding-left: 10px;
}

h1{
    font-family:'New Tegomin';
    color: chocolate;
}
footer{
    background-color: rgb(179, 175, 160);
    padding: 10px;
    margin: 0px;
}
.name{
    font-family: 'Gloria Hallelujah';
    font-size: 50px;
    margin-bottom: -40px;
}
header h3{
    font-family: 'Cinzel';
}
.myFoto{
    float: right;
    width: 120px;
    margin-right: 20px;
    margin-top: 20px;
}
.main{
    padding-top: 180px;
}
.instagramimg{
    width: 35px;
    position: absolute;
    right: 30px;
    bottom: 20px;
}
table td{
    inset-block: auto;
}
.conteiner{
    border-bottom: 3px solid darkblue;
    display: flex;
    align-items:flex-start;
    flex-direction: row;
}
#last-conteiner{
    border-bottom: none;
}
.box{
    margin: 10px;
    flex:1;
}
#about1{
flex-grow: 1;
}
#about2{
    flex-grow: 3;
}
.box h4{
    margin: 2px;
}
li{
    border-bottom: 1px solid rgb(146, 146, 255);
}
ul{
    list-style-type: none;
    padding-left: 0px;
}