body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#tasks {
    display: flex;
    flex-direction: row;
    align-content: center;
    max-width: 70%;
    margin: auto;
    flex-wrap: wrap;
}

.item {
    border: 2px solid rgb(255, 189, 103);
    border-radius: 20px;
    margin: 5px;
    max-width: 320px;
    min-width: 260px;
}

.done-task .title {
    text-decoration: line-through;
    color: rgb(80, 78, 78);
}

.item-done {
    border: 2px solid rgb(151, 255, 103);
}

.date-not-correct.date-not-correct {
    color: red;
}

.description {
    color: rgb(98, 105, 165);
    font-size: 90%;
    margin-left: 25px;
    margin-right: 5px;
}

.button-delete {
    float: right;
    margin-right: 15px;
    border: none;
    background-color: rgb(185, 185, 185);
    padding: 4px 8px;
    border-radius: 5px;
}
form{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 16%;
    margin-top: 20px;
    background-color: rgb(240, 230, 184);
    padding: 8px;
    border-radius: 10px;
}
form button{
    margin-top: 10px;
    background-color: rgb(151, 253, 83);
    border: none;
    padding: 10px 0px;
    color: aliceblue;
    font-size: 120%;
    border-radius: 20px;
}
form input{
    margin: 6px 0px;
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(255, 189, 103);
}